@using Task1.ViewModels
@{

    ViewData["Title"] = "Index";
    HomeViewModel homeViewModel = Model;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Category.Name</td>
        </tr>
        }
    </tbody>
</table>

